*, html, body {
    margin: 0;
}


h1 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
h2 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; 
    grid-column: 5%;
    margin: 10px;
}

.card {
    width: 350px; 
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(79,77,77);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image {
    width: 450px;
    height: 250px;
    
}

.card h3 {
    margin: 20px 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
}

.card p {
    color: #333;
    margin: 10px;
    font-size: 13px;
    text-align: justify;
}

.card a {
    color: blue;
    text-decoration: none;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}

.card a:hover {
    text-decoration: underline;
}
.button-grid {
    display: flex;
    grid-template-columns: repeat(5, 500px);
    grid-gap: 20px;
    justify-content: center;
    
}

.button-grid button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-grid button:hover {
    background-color: #f0f0f0;
}

.btn-custom {
    color: black;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #28a745; /* Warna hijau */
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}
.floating-btn:hover {
    background-color: #218838;
}