.fnavigasi {
    display: flex;
    width: 100%;
    background-color: lightslategrey;
}
.isinavigasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5 );
    background: #222;
}
.logokeuanganku {
    display: flex;
    font-size: 30px;
    padding: 10px;
}
.fname {
    color: white ;
    font-weight: 700;
}
.lname {
    color:white ;
    font-weight: 700;
    padding-left: 2px;
}
.itemnavigasi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemnavigasi>li {
    list-style-type: none;
    padding: 20px;
    margin-top: 15px;
}
.itemnavigasi>li>a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
}
.itemnavigasi>li>a:hover {
    color: #1F316F;
    transition: 0.3s ease;
}

.itemnavigasi li img {
    width: 50px;
    height: 50px;
}

.btn-custom {
    background-color: #1F316F;
    color: black;
}